{
{% if sensu_api %}
  "api": {{ sensu_api | to_nice_json(indent=6) }}
  ,
  "redis": 
    {
{% if sensu_redis.password is defined %}
      "password": "{{ sensu_redis.password }}",
{% endif %} {# sensu_redis.password is defined #}
{% if sensu_redis.sentinels is defined %}
      "sentinels": {{ sensu_redis.sentinels | to_nice_json(indent=8) }},
      "master": "{{ sensu_redis.master_name }}"
{% else %}
      "host": "{{ sensu_redis.host }}",
      "port": {{ sensu_redis.port }}
{% endif %} {# sensu_redis.sentinels  is defined#}
    }
  ,
{% if sensu_handlers %}
  "handlers": {{ sensu_handlers | to_nice_json(indent=6) }}
  ,
{% endif %} {# sensu_handlers #}
{% if sensu_handler_plugins %}
{% for key, value in sensu_handler_plugins.items() %}
  "{{ key }}": {{ value | to_nice_json(indent=6) }},
{% endfor %}
{% endif %} {# sensu_handler_plugins #}
{% if sensu_filters %}
  "filters": {{ sensu_filters | to_nice_json(indent=6) }}
  ,
{% endif %} {# sensu_filters #}
{% if sensu_checks %}
  "checks": {{ sensu_checks | to_nice_json(indent=6) }}
  ,
{% endif %} {# sensu_checks #}
{% if not sensu_client %}
  "rabbitmq": 
    {
{% if sensu_rabbitmq.ssl is defined %}
      "ssl": {
        "cert_chain_file": "{{ sensu_rabbitmq.cert_file }}",
        "private_key_file": "{{ sensu_rabbitmq.key_file }}"
      },
{% endif %} {# sensu_rabbitmq.ssl is defined #}
{% if sensu_rabbitmq.username and sensu_rabbitmq.password %}
      "user": "{{ sensu_rabbitmq.username }}",
      "password": "{{ sensu_rabbitmq.password }}",
{% endif %} {# sensu_rabbitmq.user and sensu_rabbitmq.password #}
      "host": "{{ sensu_rabbitmq.host }}",
      "port": {{ sensu_rabbitmq.port }},
      "vhost": "{{ sensu_rabbitmq.vhost }}"
    }
{% endif %} {# not sensu_client #}
{% endif %} {# sensu_api #}
{% if sensu_client %}
  "client": {{ sensu_client | to_nice_json(indent=6) }} 
  ,
  "rabbitmq": 
    {
{% if sensu_rabbitmq.ssl is defined and sensu_rabbitmq.ssl %}
      "ssl": {
        "cert_chain_file": "{{ sensu_rabbitmq.cert_file }}",
        "private_key_file": "{{ sensu_rabbitmq.key_file }}"
      },
{% endif %} {# sensu_rabbitmq.ssl is defined and sensu_rabbitmq.ssl #}
{% if sensu_rabbitmq.username is defined and sensu_rabbitmq.password is defined %}
      "user": "{{ sensu_rabbitmq.username }}",
      "password": "{{ sensu_rabbitmq.password }}",
{% endif %} {# sensu_rabbitmq.user is defined and sensu_rabbitmq.password is defined #}
      "host": "{{ sensu_rabbitmq.host }}",
      "port": {{ sensu_rabbitmq.port }},
      "vhost": "{{ sensu_rabbitmq.vhost }}"
    }
{% endif %} {# sensu_client and not sensu_api #}
}
